<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
</head>
<body ng-app='app' ng-controller='ApplicationCtrl'>
  <div ng-include="'/assets/partials/nav.html'"></div>
  <div ng-view></div>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular-route.js"></script>
  <script src="/assets/app.js"></script>
</body>
</html>
